<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Equipo</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand text-center" href="#">
        Editar Equipo
      </a>
</nav>
<div class="container text-center">
  <form method="POST">
      <table class="table">
          {{formaEquipo}}
      </table>
      <button class="btn btn-primary" type="submit">Enviar</button>
      {% csrf_token %}
  </form>
    <br>
    <a href="{% url 'index' %}"><button class="btn btn-primary">Volver al Inicio</button></a>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>